<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= userData.name %></p>
    <p><img src="<%= userData.picture %>"></p>
    
     <!-- <div class="profile other-profile">
          
        <img src="<%=userData.picture%>" width="30" height="30" />
        <span id="user_name"><%=userData.name%></span>
      </div>
      <div id="other_chat" class="message other-message">
        ${msg.data}
      </div> -->
</body>
</html>